#death {
    position: inherit;
    color: red;
    z-index: 2;
    /* TODO: More styling than this */
}

#gameBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#scoreContainer {
    color: white;
}

.customElement {
    position: absolute;
    width: 64px;
    height: 64px;
}

body {
    background-color: black;
}

main {
    border: 1px solid red;  /* TODO: prob don't want this red */
    position: absolute;
}

/* TODO: Make it responsive */