#death {
    /* Placement */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0%;
    height: 100%;
    z-index: 2;
    position: relative;

    /* Text */
    color: red;
    font-size: 3em;
    /* TODO: More styling than this */
}

/* #gameBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

#scoreContainer {
    color: white;
}

.customElement {
    position: absolute;
    width: 64px;
    height: 64px;
}

body {
    background-color: black;
}

main {
    border: 1px solid red;  /* TODO: prob don't want this red */
    position: absolute;
}

/* TODO: Make it responsive */